@page
@using Microsoft.AspNetCore.Identity
@model EMD.Web.Pages.IndexModel
@inject SignInManager<IdentityUser> signInManager
@{
    ViewData["Title"] = "Home";
}

<body>
    @if (!string.IsNullOrEmpty(TempData["SuccessMessage"] as string))
    {
        <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 9999;">
            <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        <i class="bi bi-check-circle-fill me-2"></i>
                        @TempData["SuccessMessage"]
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    @if (signInManager.IsSignedIn(User))
    {
        <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0" style="z-index: 999;">
            <div class="container">
                <a class="navbar-brand logo col-sm-3 col-md-2 mr-0" href="/">Employee Management Dashboard</a>
            </div>
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="/Logout">Logout</a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark flex-md-nowrap p-0 col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <div class="nav-link text-primary mt-2">
                            Welcome, @User?.Identity?.Name
                        </div>

                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="/index">
                                    Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle text-primary" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false" id="navbarDrowdownAdmin">Management
                               </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDrowdownAdmin">
                                    <li>
                                        <a class="dropdown-item navbar-button text-dark" href="/Admin/Employees/Add">Add New Employee</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item navbar-button text-dark" href="/Admin/Employees/List">View All Employees</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">
                                    Settings
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <main role="main" class="col-md-10 ml-sm-auto col-lg-10 pt-3 px-4">
                    <div class="chart-container">
                        <h1 class="dashboard-heading">Dashboard</h1>
                        <div class="chart-buttons">
                            <button id="lineChartButton" class="btn btn-primary">Show Employee Number</button>
                            <button id="pieChartButton" class="btn btn-primary">Show Departments</button>
                        </div>
                        <canvas class="mb-5" id="myChart"></canvas>
                        <canvas class="mb-3 mt-3" id="pieChart"></canvas>
                    </div>
                </main>
            </div>          
        </div>
    }
    else
    {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Choose an option</h5>
                            <ul class="nav nav-pills justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Login">Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <link rel="stylesheet" href="~/css/custom.css" />
    <script src="~/js/toast-notifs.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            var lineChart = null;
            var pieChart = null;
            var lineChartData = null; // Variable to store the line chart data
            var pieChartData = null; // Variable to store the pie chart data

            $.ajax({
                type: "GET",
                url: "/Index?handler=EmployeeData",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var data = response.employeeCount;
                    var labels = response.dates;
                    var color = [];
                    for (var i = 0; i < response.dates.length; i++) {
                        color.push("rgba(255, 99, 132, 0.2)");
                    }

                    lineChartData = { // Store the line chart data
                        labels: labels,
                        datasets: [{
                            label: 'Number of Employees',
                            data: data,
                            backgroundColor: color,
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 2
                        }]
                    };

                    var pieData = response.departmentCounts;
                    var pieLabels = response.departmentNames;
                    var pieColor = [
                        'rgb(186, 36, 13)',
                        'rgb(50, 115, 158)',
                        'rgb(203, 136, 195)',
                        'rgb(82, 199, 82)'
                    ];

                    pieChartData = { // Store the pie chart data
                        labels: pieLabels,
                        datasets: [{
                            data: pieData,
                            backgroundColor: pieColor,
                            borderColor: 'rgba(255, 255, 255, 1)',
                            borderWidth: 1
                        }]
                    };
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

            $('#lineChartButton').on('click', function () {
                if (lineChart) {
                    lineChart.destroy();
                    lineChart = null;
                    $('#lineChartButton').text('Show Employee Number');
                } else {
                    createLineChart();
                    $('#lineChartButton').text('Close Employee Number');
                }
            });

            $('#pieChartButton').on('click', function () {
                if (pieChart) {
                    pieChart.destroy();
                    pieChart = null;
                    $('#pieChartButton').text('Show Departments');
                } else {
                    createPieChart();
                    $('#pieChartButton').text('Close Departments');
                }
            });

            function createLineChart() {
                var ctx = document.getElementById("myChart");
                lineChart = new Chart(ctx, {
                    type: 'line',
                    data: lineChartData,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            y: {
                                beginAtZero: true,
                                stepSize: 1
                            }
                        }
                    }
                });
            }

            function createPieChart() {
                var pieCtx = document.getElementById("pieChart");
                pieChart = new Chart(pieCtx, {
                    type: 'pie',
                    data: pieChartData,
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        legend: {
                            display: true,
                            position: 'right'
                        }
                    }
                });
            }
        });
    </script>

</body>