@page
@model EMD.Web.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="mb-3 mt-3 h3">Register</h1>

            @if (TempData.ContainsKey("SuccessMessage"))
            {
                <div class="toast-container position-fixed top-0 end-0 p-3">
                    <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                <i class="bi bi-check-circle-fill me-2"></i>
                                @TempData["SuccessMessage"]
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            }

            <form method="post">

                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" asp-for="RegisterViewModel.Username" />
                    <span asp-validation-for="RegisterViewModel.Username" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" asp-for="RegisterViewModel.Email" />
                    <span asp-validation-for="RegisterViewModel.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="RegisterViewModel.Password" />
                    <span asp-validation-for="RegisterViewModel.Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

            </form>

            @if (TempData.ContainsKey("ErrorMessage"))
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }

        </div>
    </div>
</div>