@page
@model EMD.Web.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <h1 class="mb-3 mt-3 h3">Register</h1>

            <form method="post">

                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" asp-for="RegisterViewModel.Username" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" asp-for="RegisterViewModel.Email" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" asp-for="RegisterViewModel.Password" />
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>

            </form>

            @if (TempData.ContainsKey("SuccessMessage"))
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData.ContainsKey("ErrorMessage"))
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["ErrorMessage"]
                </div>
            }

            @if (!ModelState.IsValid)
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <span>@error.ErrorMessage</span>

                        <br />
                    }
                </div>
            }
        </div>
    </div>
</div>