@media (max-width: 991.98px) {
    .navbar-collapse {
        position: fixed;
        top: 56px;
        left: 0;
        right: 0;
        background-color: #f8f9fa;
        padding: 15px;
        z-index: 3;
    }
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #343a40;
}

.navbar-button {
    background-color: transparent;
    color: #ffffff;
    padding: 0.5rem 1rem;
}

    .navbar-button:hover,
    .navbar-button:focus {
        background-color: rgba(255, 255, 255, 0.1);
        color: #ffffff;
    }

.sidebar {
    background-color: #f8f9fa;
    padding: 1rem;
    height: 100vh;
    position: sticky;
    top: 0;
}

.sidebar-sticky {
    position: sticky;
    top: 1rem;
}

.sidebar-link {
    color: #000000;
    margin-bottom: 0.5rem;
}

    .sidebar-link:hover {
        text-decoration: underline;
    }

.main-content {
    margin-top: 1rem;
    padding: 1rem;
}

.section-title {
    margin-bottom: 1rem;
}

.chart-container {
    height: 300px;
    margin-bottom: 2rem;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown > button {
    width: 170px;
    height: 60px;
    border: 0;
    border-radius: 6px;
    font-family: inherit;
    font-size: 17px;
    background: #3c3c3c;
}

.dropdown > .content{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    color: #f7f7f7;
}

.dropdown > .content::after{
    content: "";
    position: absolute;
    bottom: 6px;
    right: 10%;
    width: 80%;
    height: 1px;
    transform: scaleX(0);
    background:
        rgb(255 255 255 / 30%);
    transition: 0.3s;
}

.dropdown:hover > .content::after {
    transform: scaleX(1);
}

.dropdown > .content > span:last-child {
    margin-left: auto;
    transition: 0.3s;
}

.dropdown > .menu {
    position: absolute;
    z-index: 1;
    top: -6px;
    left: 50%;
    display: grid;
    width: 110%;
    padding: 70px 0 6px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    background: linear-gradient(#0b1a2d, #042652);
    transition: 0.3s;
}

.dropdown:hover > .menu {
    visibility: visible;
    opacity: 1;
}

.dropdown > .menu > a{
    display: flex;
    align-items:center;
    gap: 10px;
    color: #f7f7f7;
    font-size: 14px;
    padding: 0 24px;
}

.dropdown > .menu > a:hover {
    background: rgb(0 0 0 / 10%);
}