@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EMD.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EMD.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/">Employee Management Dashboard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <div class="nav-link text-primary">
                                    Welcome, @User?.Identity?.Name
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarDrowdownAdmin">Management</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDrowdownAdmin">
                                    <li>
                                        <a class="dropdown-item navbar-button text-dark" href="/Admin/Employees/Add">Add New Employee</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item navbar-button text-dark" href="/Admin/Employees/List">View All Employees</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        

                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a href="/Logout" class="nav-link text-primary">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="/Register" class="nav-link text-primary">Register</a>
                            </li>
                            <li class="nav-item">
                                <a href="/Login" class="nav-link text-primary">Login</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - EMD.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>